pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ReadRestAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"method": "GET"
				}
			},
			{
				"name": "SaveOutputinblob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ReadRestAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://faisaldatalakegen2.blob.core.windows.net/green/webactivityop.json?sp=racw&st=2023-10-01T01:56:55Z&se=2023-10-02T09:56:55Z&spr=https&sv=2022-11-02&sr=c&sig=6xKUe4elEbNXm25uQr4lII2SDM1O5P7izxV0sM9Otww%3D",
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"body": "@activity('ReadRestAPI').output"
				}
			}
		],
		"annotations": []
	}
}